Checks:               '*,
                      -modernize-use-trailing-return-type,
                      -llvmlibc-*,
                      -llvm-header-guard,
                      -altera-unroll-loops,
                      -fuchsia-default-arguments-calls,
                      -cppcoreguidelines-avoid-magic-numbers,
                      -readability-magic-numbers,
                      -performance-move-const-arg,
                      -hicpp-move-const-arg,
                      -misc-definitions-in-headers,
                      -altera-id-dependent-backward-branch,
                      -readability-convert-member-functions-to-static,
                      -bugprone-easily-swappable-parameters,
                      -google-readability-todo,
                      -misc-include-cleaner'
WarningsAsErrors:     '*'
CheckOptions:
    - key:   performance-unnecessary-value-param.AllowedTypes
      value: std::stop_token