# Action name
name: Clang Tidy

# Here, this action will be enabled on all pushes.
# Modify this to fit your needs.
on:
    push

# Jobs section
jobs:
    # The job that will use the container image you just pushed to ghcr.io
    clang-tidy-job:
        runs-on: ubuntu-22.04
        container:
            image: ghcr.io/drlk/clang-tidy-image:v16
            credentials:
               username: drlk
               password: ${{  secrets.DOCKER_CONTAINER_REGISTRY_TOKEN }}
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                submodules: true
            - name: clang-tidy
              shell: sh
              run: |
                cmake --version
                clang-tidy --version
                g++ --version
                clang++ --version
                cd ./SimpleNetworkProtocol/build
                time cmake ..
                time cmake --build . -- -j12
                rm -r *
                export CC=clang
                export CXX=clang++
                time cmake -G "Ninja" -DCMAKE_CXX_CLANG_TIDY="clang-tidy;-header-filter=.;-checks='*, -modernize-use-trailing-return-type,-llvmlibc-*,-llvm-header-guard,-altera-unroll-loops,-fuchsia-default-arguments-calls,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-performance-move-const-arg,-hicpp-move-const-arg,-misc-definitions-in-headers,-altera-id-dependent-backward-branch,-readability-convert-member-functions-to-static,-bugprone-easily-swappable-parameters,-google-readability-todo'" ..
                time cmake --build .
